<template>
  <div class="pt-[48px] pb-6">
    <div class="relative container mx-auto">
      <div>
        <span class="text-[26px] font-semibold">Choice Category</span>
      </div>
      <div class="pt-[40px] grid grid-cols-11">
        <button
          v-for="item in categories"
          :key="item.id"
          class="grid grid-rows-2 hover:drop-shadow-xl justify-center items-center"
        >
          <div
            class="text-center bg-whiteBtn object-cover rounded-full p-2.5 mx-auto"
          >
            <img
              class="justify-center items-center object-cover p-6"
              :src="item.imgUrl"
              :alt="item.name"
            />
          </div>
          <span> {{ item.name }}</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script setup>
import manFashion from "../assets/icon/man-fashion.svg";
import gadget from "../assets/icon/gadget.svg";
import voucher from "../assets/icon/voucher.svg";
import property from "../assets/icon/property.svg";
import kidsFashion from "../assets/icon/kids-fashion.svg";
import computer from "../assets/icon/computer.svg";
import womanFashion from "../assets/icon/woman-fashion.svg";
import sports from "../assets/icon/sports.svg";
import gaming from "../assets/icon/gaming.svg";
import film from "../assets/icon/film.svg";
import viewAll from "../assets/icon/view-all.svg";

const categories = [
  {
    id: 1,
    name: "Man Fashion",
    imgUrl: manFashion,
  },
  {
    id: 2,
    name: "Gadget Electronic",
    imgUrl: gadget,
  },
  {
    id: 3,
    name: "Voucher Game",
    imgUrl: voucher,
  },
  {
    id: 4,
    name: "Property",
    imgUrl: property,
  },
  {
    id: 5,
    name: "Kids Fashion",
    imgUrl: kidsFashion,
  },
  {
    id: 6,
    name: "Computer & Laptop",
    imgUrl: computer,
  },
  {
    id: 7,
    name: "Woman Fashion",
    imgUrl: womanFashion,
  },
  {
    id: 8,
    name: "Sports",
    imgUrl: sports,
  },
  {
    id: 9,
    name: "Gaming",
    imgUrl: gaming,
  },
  {
    id: 10,
    name: "Film & Music",
    imgUrl: film,
  },
  {
    id: 11,
    name: "View All",
    imgUrl: viewAll,
  },
];
</script>

<style lang="scss" scoped></style>
