<template>
  <div class="container mx-auto p-8 grid lg:grid-cols-3 gap-10">
    <div class="rounded overflow-hidden shadow-md relative p-4 bg-red-400">
      <h2 class="text-2xl">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam maiores
        architecto quos eius, aliquam ullam commodi vitae mollitia molestias
        accusantium in rem, quod id deserunt accusamus autem provident. Ipsam,
        totam?
      </h2>
    </div>
    <div class="card-new bg-blue-400">
      <h2 class="text-2xl">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam maiores
        architecto quos eius, aliquam ullam commodi vitae mollitia molestias
        accusantium in rem, quod id deserunt accusamus autem provident. Ipsam,
        totam?
      </h2>
    </div>
    <div class="card-new bg-green-400">
      <h2 class="text-2xl">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam maiores
        architecto quos eius, aliquam ullam commodi vitae mollitia molestias
        accusantium in rem, quodsadad id deserunt accusamus autem provident.
        Ipsam, totam?
      </h2>
    </div>
    <button class="btn-blue">Submit</button>
  </div>
</template>

<script setup></script>

<style lang="scss" scoped></style>
