<template>
  <div class="pb-8">
    <Popover class="relative bg-white">
      <div class="mx-auto max-w-7xl px-4 sm:px-6">
        <div
          class="flex items-center border-b-2 justify-between py-6 md:justify-start md:space-x-10"
        >
          <div class="flex justify-start lg:w-0 lg:flex-1">
            <a href="/">
              <span class="sr-only">Slabshop</span>
              <img
                class="h-4 w-auto sm:h-10"
                src="../assets/logo-slab.png"
                alt="logo-slab"
              />
            </a>
            <div class="flex ml-[8px] font-medium items-center">
              <span> Slabshop </span>
            </div>
          </div>
          <div class="-my-2 -mr-2 md:hidden">
            <PopoverButton
              class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-black0 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
            >
              <span class="sr-only">Open menu</span>
              <Bars3Icon class="h-6 w-6" aria-hidden="true" />
            </PopoverButton>
          </div>
          <PopoverGroup as="nav" class="hidden items-center space-x-10 md:flex">
            <Popover class="relative" v-slot="{ open }">
              <PopoverButton
                :class="[
                  open ? 'text-gray-900' : 'text-black0',
                  'group inline-flex rounded-md bg-white text-base font-medium hover:text-primary focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2',
                ]"
              >
                <span>Categories</span>
                <ChevronDownIcon
                  :class="[
                    open ? 'text-gray-600' : 'text-gray-400',
                    'ml-2 h-5 w-5 group-hover:text-black0',
                  ]"
                  aria-hidden="true"
                />
              </PopoverButton>

              <transition
                enter-active-class="transition ease-out duration-200"
                enter-from-class="opacity-0 translate-y-1"
                enter-to-class="opacity-100 translate-y-0"
                leave-active-class="transition ease-in duration-150"
                leave-from-class="opacity-100 translate-y-0"
                leave-to-class="opacity-0 translate-y-1"
              >
                <PopoverPanel
                  class="absolute z-10 -ml-4 mt-3 w-screen max-w-md transform px-2 sm:px-0 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2"
                >
                  <div
                    class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5"
                  >
                    <div
                      class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8"
                    >
                      <a
                        v-for="item in solutions"
                        :key="item.name"
                        :href="item.href"
                        class="-m-3 flex items-start rounded-lg p-3 hover:bg-gray-50"
                      >
                        <component
                          :is="item.icon"
                          class="h-6 w-6 flex-shrink-0 text-indigo-600"
                          aria-hidden="true"
                        />
                        <div class="ml-4">
                          <p class="text-base font-medium text-gray-900">
                            {{ item.name }}
                          </p>
                          <p class="mt-1 text-sm text-black0">
                            {{ item.description }}
                          </p>
                        </div>
                      </a>
                    </div>
                    <div
                      class="space-y-6 bg-gray-50 px-5 py-5 sm:flex sm:space-y-0 sm:space-x-10 sm:px-8"
                    >
                      <div
                        v-for="item in callsToAction"
                        :key="item.name"
                        class="flow-root"
                      >
                        <a
                          :href="item.href"
                          class="-m-3 flex items-center rounded-md p-3 text-base font-medium text-gray-900 hover:bg-gray-100"
                        >
                          <component
                            :is="item.icon"
                            class="h-6 w-6 flex-shrink-0 text-gray-400"
                            aria-hidden="true"
                          />
                          <span class="ml-3">{{ item.name }}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </PopoverPanel>
              </transition>
            </Popover>
            <button
              href="#"
              class="text-base font-medium text-black0 hover:text-primary"
            >
              Deals
            </button>
            <button
              href="#"
              class="text-base font-medium text-black0 hover:text-primary"
            >
              What's New
            </button>
            <button
              href="#"
              class="text-base font-medium text-black0 hover:text-primary"
            >
              Delivery
            </button>
            <div>
              <div class="relative mt-1 ml-6 items-center rounded-xl">
                <input
                  type="text"
                  name="price"
                  id="price"
                  class="block w-full rounded-xl bg-white1 border-2 p-2 pl-4 pr-10 focus:border-primary focus:ring-primary sm:text-sm"
                  placeholder="Search Product"
                />
                <div
                  class="pointer-events-none absolute inset-y-0 right-2 flex items-center"
                >
                  <MagnifyingGlassIcon
                    class="h-5 w-5 text-black0"
                    aria-hidden="true"
                  />
                </div>
              </div>
            </div>
            <!-- <Popover class="relative" v-slot="{ open }">
              <PopoverButton
                :class="[
                  open ? 'text-gray-900' : 'text-black0',
                  'group inline-flex items-center rounded-md bg-white text-base font-medium hover:text-primary focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2',
                ]"
              >
                <span>More</span>
                <ChevronDownIcon
                  :class="[
                    open ? 'text-gray-600' : 'text-gray-400',
                    'ml-2 h-5 w-5 group-hover:text-black0',
                  ]"
                  aria-hidden="true"
                />
              </PopoverButton>

              <transition
                enter-active-class="transition ease-out duration-200"
                enter-from-class="opacity-0 translate-y-1"
                enter-to-class="opacity-100 translate-y-0"
                leave-active-class="transition ease-in duration-150"
                leave-from-class="opacity-100 translate-y-0"
                leave-to-class="opacity-0 translate-y-1"
              >
                <PopoverPanel
                  class="absolute left-1/2 z-10 mt-3 w-screen max-w-md -translate-x-1/2 transform px-2 sm:px-0"
                >
                  <div
                    class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5"
                  >
                    <div
                      class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8"
                    >
                      <a
                        v-for="item in resources"
                        :key="item.name"
                        :href="item.href"
                        class="-m-3 flex items-start rounded-lg p-3 hover:bg-gray-50"
                      >
                        <component
                          :is="item.icon"
                          class="h-6 w-6 flex-shrink-0 text-indigo-600"
                          aria-hidden="true"
                        />
                        <div class="ml-4">
                          <p class="text-base font-medium text-gray-900">
                            {{ item.name }}
                          </p>
                          <p class="mt-1 text-sm text-black0">
                            {{ item.description }}
                          </p>
                        </div>
                      </a>
                    </div>
                    <div class="bg-gray-50 px-5 py-5 sm:px-8 sm:py-8">
                      <div>
                        <h3 class="text-base font-medium text-black0">
                          Recent Posts
                        </h3>
                        <ul role="list" class="mt-4 space-y-4">
                          <li
                            v-for="post in recentPosts"
                            :key="post.id"
                            class="truncate text-base"
                          >
                            <a
                              :href="post.href"
                              class="font-medium text-gray-900 hover:text-gray-700"
                              >{{ post.name }}</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="mt-5 text-sm">
                        <a
                          href="#"
                          class="font-medium text-indigo-600 hover:text-indigo-500"
                        >
                          View all posts
                          <span aria-hidden="true"> &rarr;</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </PopoverPanel>
              </transition>
            </Popover> -->
          </PopoverGroup>
          <div class="hidden justify-end md:flex md:flex-1 lg:w-0">
            <button
              href="#"
              class="inline-flex items-center text-base font-medium text-black0 hover:text-primary"
            >
              <UserIcon
                class="h-5 w-5 stroke-black mr-1 hover:stroke-primary"
                aria-hidden="true"
              />
              Account
            </button>
            <button
              href="#"
              class="ml-8 inline-flex items-center text-base font-medium text-black0 hover:text-primary"
            >
              <ShoppingCartIcon
                class="h-5 w-5 stroke-black mr-1 hover:stroke-primary"
                aria-hidden="true"
              />
              Cart
            </button>
          </div>
        </div>
      </div>

      <transition
        enter-active-class="duration-200 ease-out"
        enter-from-class="opacity-0 scale-95"
        enter-to-class="opacity-100 scale-100"
        leave-active-class="duration-100 ease-in"
        leave-from-class="opacity-100 scale-100"
        leave-to-class="opacity-0 scale-95"
      >
        <PopoverPanel
          focus
          class="absolute inset-x-0 top-0 origin-top-right transform p-2 transition md:hidden"
        >
          <div
            class="divide-y-2 divide-gray-50 rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5"
          >
            <div class="px-5 pt-5 pb-6">
              <div class="flex items-center justify-between">
                <div>
                  <img
                    class="h-8 w-auto"
                    src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                    alt="Your Company"
                  />
                </div>
                <div class="-mr-2">
                  <PopoverButton
                    class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-black0 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary"
                  >
                    <span class="sr-only">Close menu</span>
                    <XMarkIcon class="h-6 w-6" aria-hidden="true" />
                  </PopoverButton>
                </div>
              </div>
              <div class="mt-6">
                <nav class="grid gap-y-8">
                  <a
                    v-for="item in solutions"
                    :key="item.name"
                    :href="item.href"
                    class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50"
                  >
                    <component
                      :is="item.icon"
                      class="h-6 w-6 flex-shrink-0 text-indigo-600"
                      aria-hidden="true"
                    />
                    <span class="ml-3 text-base font-medium text-gray-900">{{
                      item.name
                    }}</span>
                  </a>
                </nav>
              </div>
            </div>
            <div class="space-y-6 py-6 px-5">
              <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                <a
                  href="#"
                  class="text-base font-medium text-gray-900 hover:text-gray-700"
                  >Pricing</a
                >

                <a
                  href="#"
                  class="text-base font-medium text-gray-900 hover:text-gray-700"
                  >Docs</a
                >
                <a
                  v-for="item in resources"
                  :key="item.name"
                  :href="item.href"
                  class="text-base font-medium text-gray-900 hover:text-gray-700"
                  >{{ item.name }}</a
                >
              </div>
              <div>
                <a
                  href="#"
                  class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700"
                  >Sign up</a
                >
                <p class="mt-6 text-center text-base font-medium text-black0">
                  Existing customer?
                  {{ " " }}
                  <a href="#" class="text-indigo-600 hover:text-indigo-500"
                    >Sign in</a
                  >
                </p>
              </div>
            </div>
          </div>
        </PopoverPanel>
      </transition>
    </Popover>
  </div>
</template>

<script setup>
import {
  Popover,
  PopoverButton,
  PopoverGroup,
  PopoverPanel,
} from "@headlessui/vue";
import {
  ArrowPathIcon,
  Bars3Icon,
  BookmarkSquareIcon,
  CalendarIcon,
  AtSymbolIcon,
  CursorArrowRaysIcon,
  LifebuoyIcon,
  MagnifyingGlassIcon,
  PhoneIcon,
  PlayIcon,
  ShieldCheckIcon,
  ShoppingCartIcon,
  Squares2X2Icon,
  UserIcon,
  XMarkIcon,
} from "@heroicons/vue/24/outline";
import { ChevronDownIcon } from "@heroicons/vue/20/solid";

const solutions = [
  {
    name: "Analytics",
    description:
      "Get a better understanding of where your traffic is coming from.",
    href: "#",
    icon: AtSymbolIcon,
  },
  {
    name: "Engagement",
    description: "Speak directly to your customers in a more meaningful way.",
    href: "#",
    icon: CursorArrowRaysIcon,
  },
  {
    name: "Security",
    description: "Your customers' data will be safe and secure.",
    href: "#",
    icon: ShieldCheckIcon,
  },
  {
    name: "Integrations",
    description: "Connect with third-party tools that you're already using.",
    href: "#",
    icon: Squares2X2Icon,
  },
  {
    name: "Automations",
    description:
      "Build strategic funnels that will drive your customers to convert",
    href: "#",
    icon: ArrowPathIcon,
  },
];
const callsToAction = [
  { name: "Watch Demo", href: "#", icon: PlayIcon },
  { name: "Contact Sales", href: "#", icon: PhoneIcon },
];
const resources = [
  {
    name: "Help Center",
    description:
      "Get all of your questions answered in our forums or contact support.",
    href: "#",
    icon: LifebuoyIcon,
  },
  {
    name: "Guides",
    description:
      "Learn how to maximize our platform to get the most out of it.",
    href: "#",
    icon: BookmarkSquareIcon,
  },
  {
    name: "Events",
    description:
      "See what meet-ups and other events we might be planning near you.",
    href: "#",
    icon: CalendarIcon,
  },
  {
    name: "Security",
    description: "Understand how we take your privacy seriously.",
    href: "#",
    icon: ShieldCheckIcon,
  },
];
const recentPosts = [
  { id: 1, name: "Boost your conversion rate", href: "#" },
  {
    id: 2,
    name: "How to use search engine optimization to drive traffic to your site",
    href: "#",
  },
  { id: 3, name: "Improve your customer experience", href: "#" },
];
</script>

<style lang="scss" scoped></style>
