<template>
  <div>
    <div class="relative container mx-auto grid lg:grid-cols-4 gap-6">
      <div>
        <img
          class="rounded-lg h-[322px] w-[322px]"
          src="../assets/hero-banner1.jpeg"
          alt="banner1"
        />
      </div>
      <div class="col-span-3">
        <img
          class="rounded-lg h-[322px] w-[1014px]"
          src="../assets/hero-banner2.jpeg"
          alt="banner2"
        />
      </div>
    </div>
    <div class="container flex mx-auto justify-end gap-4 pt-4">
      <button class="text-gray1 hover:text-primary inline-flex">
        <ArrowSmallLeftIcon
          class="h-6 w-6 items-center stroke-gray hover:stroke-primary"
          aria-hidden="true"
        />
        Back
      </button>
      <button class="text-gray1 hover:text-primary inline-flex">
        Next
        <ArrowSmallRightIcon
          class="h-6 w-6 items-center stroke-gray hover:stroke-primary"
          aria-hidden="true"
        />
      </button>
    </div>
  </div>
</template>

<script setup>
import {
  ArrowSmallRightIcon,
  ArrowSmallLeftIcon,
} from "@heroicons/vue/24/outline";
</script>

<style lang="scss" scoped></style>
