<template>
  <div class="pt-[48px] pb-6 bg-whiteBtn">
    <div class="relative container mx-auto">
      <div>
        <span class="text-[26px] font-semibold">
          Desember Super Flash Sale
        </span>
      </div>
      <div class="grid grid-cols-6 gap-4 rounded-lg">
        <div
          v-for="item in dataHaidar.data"
          :key="item"
          class="card-new mx-auto h-full"
        >
          <div class="">
            <img :src="item.image" class="rounded-full bg-blue-600" />
          </div>
          <div>
            <span class="text-gray1 text-[12px]">
              {{ item.category.name }}
            </span>
          </div>
          <div>
            <span class="text-black0">
              {{ item.title.slice(0, 24) }}
            </span>
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const { data: dataHaidar } = await useFetch(
  "https://api.ndan.online/api/products"
);
</script>

<style lang="scss" scoped></style>
