<template>
  <div class="pt-[48px] pb-6">
    <div class="relative container mx-auto grid lg:grid-cols-4 gap-6">
      <div class="bg-primary overflow-hidden rounded-lg">
        <img
          class="w-full h-[297px] object-cover"
          src="../assets/banner3.png"
          alt="banner3"
        />
      </div>
      <div class="rounded-lg items-center border-2 col-span-3 pt-2">
        <div class="p-4 items-center inline-flex">
          <span class="font-semibold text-[20px]">Bills and Utilities</span>

          <button
            class="absolute right-6 w-[100px] justify-center text-black0 hover:text-primary inline-flex items-center rounded-lg border-2 p-2"
          >
            See All
            <ChevronRightIcon
              class="h-4 w-4 stroke-black hover:stroke-primary ml-2"
              aria-hidden="true"
            />
          </button>
        </div>
        <div class="">
          <TabGroup>
            <TabList class="flex space-x-1 pt-2 border-b pb-4">
              <Tab
                v-for="item in tabs"
                :key="item.name"
                class="w-auto px-4 outline-none text-gray1 active:text-primary focus:text-primary"
              >
                {{ item.name }}</Tab
              >
            </TabList>
            <TabPanels class="flex pt-4">
              <TabPanel class="w-full px-4">
                <form class="w-full flex-wrap mb-4 grid grid-cols-2">
                  <div class="w-full md:w-full px-3">
                    <label
                      class="block tracking-wide text-black0 text-xs mb-2"
                      for="grid-first-name"
                    >
                      Code Transaction
                    </label>
                    <input
                      class="appearance-none block w-full bg-white text-black0 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-primary"
                      id="grid-first-name"
                      type="text"
                      placeholder="Ex: 276NHVF387XN3487"
                    />
                  </div>
                  <div class="w-full md:w-full px-3">
                    <label
                      class="block tracking-wide text-black0 text-xs mb-2"
                      for="grid-last-name"
                    >
                      Payment Amount
                    </label>
                    <input
                      class="appearance-none block w-full bg-white text-black0 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-primary"
                      id="grid-last-name"
                      type="text"
                      placeholder="Ex : $100.000"
                    />
                  </div>
                </form>
                <button
                  class="px-2 w-auto ml-3 rounded-lg p-2 text-white text-[14px] font-thin bg-primary hover:bg-bg3 border inline-flex items-center"
                >
                  Purchase
                  <ChevronRightIcon
                    class="h-4 w-4 stroke-black font-bold"
                    aria-hidden="true"
                  />
                </button>

                <button
                  class="absolute right-8 px-2 w-auto ml-3 rounded-lg p-2 text-black0 hover:text-primary text-[14px] font-thin inline-flex items-center"
                >
                  <ExclamationCircleIcon
                    class="h-4 w-4 mr-2 stroke-black font-bold"
                    aria-hidden="true"
                  />
                  Help!
              </button>
              </TabPanel>
              <TabPanel class="w-auto px-4">Content 2</TabPanel>
              <TabPanel class="w-auto px-4">Content 3</TabPanel>
              <TabPanel class="w-auto px-4">Content 4</TabPanel>
              <TabPanel class="w-auto px-4">Content 5</TabPanel>
              <TabPanel class="w-auto px-4">Content 6</TabPanel>
              <TabPanel class="w-auto px-4">Content 7</TabPanel>
              <TabPanel class="w-auto px-4">Content 8</TabPanel>
            </TabPanels>
          </TabGroup>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import {
  ChevronRightIcon,
  ExclamationCircleIcon,
} from "@heroicons/vue/24/outline";
import { TabGroup, TabList, Tab, TabPanels, TabPanel } from "@headlessui/vue";

const tabs = [
  {
    id: 1,
    name: "Balance",
  },
  {
    id: 2,
    name: "Top Up",
  },
  {
    id: 3,
    name: "Internet",
  },
  {
    id: 4,
    name: "Electricity Tokens",
  },
  {
    id: 5,
    name: "Tickets",
  },
  {
    id: 6,
    name: "Data Package",
  },
  {
    id: 7,
    name: "Pulses",
  },
  {
    id: 8,
    name: "Voucher",
  },
];
</script>

<style lang="scss" scoped></style>
