@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-new {
    @apply relative overflow-hidden rounded p-4 shadow-md;
  }
  .btn-blue {
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold text-white bg-blue-500 cursor-pointer tracking-wider;
  }
}
